@page "/counter"
@rendermode InteractiveServer
<!-- @using Radzen.Blazor -->

<RadzenCard>
    <RadzenHeading Size="H1">Counter</RadzenHeading>
    <RadzenText>Current count: @currentCount</RadzenText>
    <RadzenButton Text="Increment" Click="IncrementCount" Style="margin-top: 10px;" />
    <button @onclick="IncrementCount">Increment</button>
    <div>Count: @currentCount</div>
</RadzenCard>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Console.WriteLine($"Current count: {currentCount}");
    }
}
